html {
  font-family: Georgia, serif;
  background-color: #f2f1ed;
  font-size: 1rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

h2 {
  font-family: "Patua One", serif;
  color: #5d8432;
}

figcaption {
  font-family: Georgia, serif;
  font-style: italic;
  text-align: center;
  font-size: .8rem;
}

a,
a:link {
  color: #793284;
  font-family: "Patua One", serif;
  text-decoration: none;
}

a:hover {
  color: #b42885;
}

ol {
  list-style-type: none;
  font-size: 1.125rem;
  font-weight: bold;
}

.bigfig {
  font-size: 1rem;
}
